@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
@include foundation-flex-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
// @include foundation-progress-element;
// @include foundation-meter-element;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

// 38. My STYLES
// -------------

.main-ul {
	border-left: 1px gray solid;
	margin-top: 2em;
}

.main-ul li {
	display: block;
}

.main-ul-2 li {
	display: block;
	padding-top: 1em;
}

.my-a-line {
	border-bottom: 2px #E23F54 solid;
	padding-bottom: .3em;
	color: #d1d1d1;
	font-weight: 400;
}

.my-a-line:hover {
	border-bottom: 2px #E23F54 solid;
	padding-bottom: .5em;
	color: #fff;
	font-weight: 400;
}

.main-ul-2 span {
	
	padding-left: 1em;
	font-size: 18px;

	.my-a-choose {
		border-bottom: 1px #fff solid;		
		color: #fff;		
	}
}

.text-content {
	padding-top: 4.5em;
}

.text-content-information {
	background-color: #fff;
}

.text-content-information--text {
	
	h5 {
		padding-top: 2em;
		padding-left: 1em;
	}

	p {
		padding: 1.2em;
	}
}

select:invalid { color: gray; }

.my-header {
	padding-top: 2em;
	color: #fff;
	h4 {
		margin: 0;
	}
}

.my-main {
	padding-top: 4em;
	color: #fff;
}

.my-form {

	.row {
		background-color: #fff;
	}
}

.my-form-header {
	border: 1px #e6e6e6 solid;
	border-radius: 6px 6px 0px 0px;
	text-align: center;
	padding: 1.2em;
	background-color: #477C8E;
	color: #fff;
}

.my-form-center {
	border-left: 1px #e6e6e6 solid;
	border-right: 1px #e6e6e6 solid;
	margin-left: 1px;
	margin-right: 1px;
	
}

.my-form-footer {
	border: 1px #e6e6e6 solid;
	border-radius: 0px 0px 6px 6px;
	text-align: center;
	padding: 1.2em;
	margin-bottom: 2em;
	
	
}

.my-footer {

	.row {
		background-color: #EEEEEE;
		padding-top: 2em;
	}
}

.lineTwoBT, .lineTwoC {
	display:none;
}

#geoModalTop {
	height: 300px;
}

.my-hide {
	display:none;
}

.my-show {
	display:flex;
}

.my-show-block {
	display:block;
}

.my-prices {

	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;

}

.my-price {

	

}

#vipLi, #standartLi  {

	list-style:none;

}

#standartWorksToggleUl, #vipWorks {
	font-size: .8em;
}

#standartText, #vipText {
	height: 5em;
	margin-bottom: 0;
}

.optionPrice {
	padding-left: 3em;
}



.dorabotki {
	padding-top: 1em;
	
}

.my-form-center {
	background-image: url("../js/1.png");
}

.my-line-one {
	padding-top: 2em;
}

.checkProduct {
	
	padding-left: 1em;
	
	

}



.divCheckProduct {
	text-align: center; 
	padding-bottom: 1.5em;
}

i {
	font-size: 24px;
}


	.button {
		border-bottom: 3px #E23F54 solid;
		background-color: #ff735e;
		font-weight: normal;

	}



	.button:hover {
		border-bottom: 2px #E23F54 solid;
		background-color: #ff735e;
		font-weight: normal;

	}




.divCheckProduct {

	padding-top: 2em;
	
}

.infoOnePng {
	margin-top: -41px;
    margin-left: 65px;
    /* text-align: center; */
    width: 160px;
}

.dorabotka-info {
	font-size: 16px;
	padding-left: .5em;
}

[type='checkbox']+label {
	margin-right: 0;
}

.fi-arrow-right {
	font-size: 12px;
}

.fi-arrow-down {
	font-size: 12px;
}



.style1 {
	
		border-top: 4px #32aeff solid;
	
}

.style2 {
	    border-top: 4px #ffae00 solid;
}
.style3 {
	border-top: 4px #00b945 solid;
}

#infoMinOneBody, #infoMinTwoBody, #infoMinThreeBody {
	padding-left: 1.2em;
	padding-top: 1em;
	padding-bottom: 2em;
	font-size: 16px;
}

#normalPrice:after, #vipPrice:after {
	content: " руб.";
}

.my-a-click {
	font-size: 14px;
}
